/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation bar container */
  .menu-bar {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the list inside the navigation bar */
  .menu-bar ul {
    list-style: none;
    display: flex;
  }

  /* Style the individual menu items */
  .menu-bar li {
    flex: 1;
  }

  /* Style the links */
  .menu-bar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for links */
  .menu-bar li a:hover {
    background-color: #575757;
  }
  
  #spacer-end{
    padding-right: 30%;
    padding-left: 30%;
    background-color: #333;
  }

  #spacer-begin{
    padding-right: 1%;
    padding-left: 1%;
    background-color: #333;
  }

  #content{
    display: flex;
  }

  #book-description{
    background-color: #4CAF50;
    padding: 10%;
  }

  #book-img{
    background-color: #4c87af;
    padding: 10%;
  }

  #book-img img{
    max-width: 200px;
  }


  /* Active link (if needed) */
  .menu-bar li a.active {
    background-color: #4CAF50;
  }